@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body{
    background: url("https://www.sahakol.com/wp-content/uploads/2019/06/IMG_9571-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

label ,p{
    font-family: 'Prompt', sans-serif;
        color :white;
  }
  
.footer{
    width: 100%;
    height:auto;
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(1, 6, 77, 1);
    text-align: center; 
    white-space:inherit;
}

.txtitle{
    font-family: 'Prompt', sans-serif;
    color:white; 
    text-align: center;
    white-space:inherit;
}

.btn{
    border-radius: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    background-color: orangered;
    color: black;
}

.btn:hover{
    border-radius: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    background-color:rgb(0, 0, 99);
    color:white;
}
 
